# Create pipeline for testcontainer

on:
  workflow_dispatch:
jobs:
  Test:
    name: unit-testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Golang
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"
          cache: true
      - name: Download Module
        run: go mod Download
      - name: Run unit-testing
        run: go test internal/repository/postgres -v
